
.horizontal-side-panel {  
    transition: 1s;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    transition: 1s;
    border-radius: 30px;
    gap: 20px;
    overflow: hidden;
  }
  
  .side-panel-title-horizontal{
    position: relative;
    width: fit-content;
    color: var(--secondary);
  }
  .side-panel-title-horizontal::after{
    content: "";
    position: absolute;
    background-color: var(--field);
    height: 3px;
    width: 70%;
    bottom: -20px;
    left: 0;
  }
  .side-panel-title-horizontal-open{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: var(--secondary);
  }
  .open-panel-icon-horizontal,
  .close-panel-icon-horizontal {
    width: fit-content;
    margin: 0;
    position: absolute;
    cursor: pointer;
    right: 30px;
    color: var(--field);
  }
  
  .open-panel-icon-horizontal {
    top: 50%;
    transform: rotateZ(90deg) translateX(-80%);
  }
  .close-panel-icon-horizontal {
    transform: rotateZ(90deg);
    bottom: 20px;
  }
  .side-panel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    transition: 1s;
    border-radius: 0px 50px 50px 0px;
  }
  .side-panel-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -5px;
    z-index: -1;
  }
  .side-panel-title{
    position: absolute;
    left: 30px;
    color: var(--secondary);
  }
  .side-panel::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .side-panel {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .open-panel-icon,
  .close-panel-icon {
    width: fit-content;
    margin: 0;
    position: absolute;
    top: 10px;
    cursor: pointer;
    color: var(--field);
  }
  .sidewaysText{
    text-orientation: sideways; 
    writing-mode: vertical-lr; 
    display: flex;
    flex: 1; 
    align-items: center; 
    justify-content: center;
    color: var(--secondary);
  }
  .open-panel-icon {
    right: 50%;
    transform: translateX(50%);
  }
  
  .close-panel-icon {
    right: 20px;
  }
  