.mark {
  display: flex;
}

.mark .icons {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  align-items: center;
}
.markText {
  text-align: center;
  width: 60%;
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
  padding: 0 0 0 30px;
  position: relative;
}
.form {
  width: 80%;
}
.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--field);
  outline: none;
  font-size: 1.17em;
  margin: 5px 0;
  padding: 0;
  background-color: var(--bgTmavsia);
}
