.app {
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.right-panel-wrapper {
  min-height: calc(100vh - 20px);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  background-color: var(--bgTmavsia);
}
