
.info{
    margin: 0 50px 0 30px;
    display: flex;
    justify-content: space-between;
  }
  
.info > .text h4{
    color: var(--textPrimary)
  }
.info > .text p{
    color: var(--textSecondary)
  }
  
  .info .buttons{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 20px ;
  }
  .info .buttons button{
    margin: 0 !important;
    min-width: 150px;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--field);
    transition-duration: 250ms;
    color: var(--textPrimary);
  }